* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  border-radius: 10px;
}

h1 {
  color: #1a222f;
  font-size: 1.75rem;
  justify-content: center;
  text-align: center;
}

form {
  margin: 5rem auto 0;
  width: 24rem;

  .count {
    padding: 0.25rem 0;
    text-align: center;
    color: #fff;
    background: #333;
    border-radius: 4px;
  }

  div,
  select {
    margin-bottom: 1.5rem;
    width: inherit;
  }

  input,
  select {
    padding: 0 0.5rem;
    width: inherit;
    height: 2rem;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
  }

  input[type='submit'] {
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    background: #0971f1;
    cursor: pointer;
  }

  p {
    margin-top: 0.5rem;
    color: #ff9900;
  }
}

.tutorial {
  margin-top: 5rem;
}
